<h1 class="text-center"><%= t(:new_record) %></h1>

<script>
    $(document).ready(function()
    {
        $("#book_id_select").select2({
            placeholder: "Please, pick one",
            allowClear: true
        });
    });
</script>

<%= render "form", reading_record: @reading_record, class:"text-black" %>

<br>

<div class="w-75 mx-auto">
  <%= link_to t(:back), root_path, class:"btn btn-outline-light" %>
</div>

