<h1 class="text-center">Editing author</h1>
  <%= render "form", author: @author %>
<br>

<div class="w-75 mx-auto">
  <%= link_to "Show", @author, class:"btn btn-outline-info me-2" %>
  <%= link_to "Back", authors_path, class:"btn btn-outline-warning me-2" %>
</div>
