<h1 class="text-center">Editing author</h1>
  <%= render "form", author: @author %>
<br>

<div class="w-75 mx-auto">
  <%= link_to t(:show), @author, class:"btn btn-outline-info me-2" %>
  <%= link_to t(:back), authors_path, class:"btn btn-outline-warning me-2" %>
</div>
