<div class="card bg-dark p-4 my-2">
  <div class="d-flex my-auto">
    <%= image_tag(user_avatar(user, 100), class: "rounded-circle me-3") %>
    <div class="text-start">
      <%= link_to "#{user.full_name}", user, class:"text-light text-decoration-none h1 fw-bold" %>
      <p class="card-text">
        <strong><%= user.email %></strong>
      </p>
    </div>
  </div>
  <% if user.bio && user.bio.length > 0 %>
    <p class="card-text pt-2">
      "<%= user.bio %>"
    </p>
  <% end %>
</div>