<p>
  <% if user_signed_in? %>
    <b><%= current_user.full_name %></b>, welcome to
  <% end %>
  Bookmarker. Follow on <a href="https://github.com/xPalo/bookmarker" class="text-white">GitHub</a>, or <a href="https://bookmarker-academy.herokuapp.com/" class="text-white">Heroku</a>.</p>