<% if rating %>
  <div class="stars-outer">
    <div class="stars-inner" style="width: <%=  "#{rating}%"  %>"></div>
    <span class="stars-rating"></span>
  </div>
<% else %>
  <div>-</div>
<% end %>