<div class="py-5 my-auto text-center">
  <%#=image_tag("book_icon.png", alt: "Example Image", width:"72", height:"57")%>
  <h1 class="display-5 fw-bold">Bookmarker</h1>
  <div class="col-lg-6 mx-auto w-100">
    <p class="lead mb-4">Easily track books you read through Bookmarker. After signing up, you can add new books, link them to its authors and keep track of how many books you read.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <%# unless user_signed_in? %>
        <%#=  link_to 'Log in', new_user_session_path, class:"btn btn-light btn-lg px-4 gap-3"  %>
        <%#=  link_to 'Sign up', new_user_registration_path, class:"btn btn-dark btn-lg px-4"  %>
      <%# else %>
        <%#=  link_to 'New Book', new_book_path, class:"btn btn-outline-light btn-lg px-4 gap-3"  %>
        <%#=  link_to 'New Author', new_author_path, class:"btn btn-outline-dark btn-lg px-4"  %>
      <%# end %>
    </div>
  </div>

  <div class="m-4">
    <%= button_to "Connect to Twitter", "auth/twitter", method: :post, class:"btn btn-outline-info px-4" %>
  </div>
</div>