<div class="mx-2 text-light rounded-3 text-start">
  <div class="container-fluid">
    <h5 class="display-7 fw-bold mb-1">
      <%= render partial: "shared/star_rating", locals: {rating: (review.score*10)} %>
      <%= link_to " #{review.book.title}", review.book, class:"text-light text-decoration-none" %>

    </h5>
    <hr class="m-0 mb-1">
    <p class="card-text mb-1">
      "<%= review.body %>"
    </p>
    <p class="card-text">
      <strong>By:</strong>
      <%= link_to " #{review.user.full_name}", user_path(id: review.user.id), class:"text-light text-decoration-none" %>
    </p>
  </div>
</div>