<% if @reviews.length > 0 %>
  <table class="table table-hover text-light table-active">
    <thead>
    <tr>
      <th scope="col"> <%= t(:reviews) %> </th>
    </tr>
    </thead>
    <tbody>
    <% @reviews.each do |review| %>
      <tr class="text-light m-0">
        <td><%= render review %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= page_entries_info @reviews %>
  <%= paginate @reviews, theme: 'bootstrap-5', pagination_class: "my-3 pagination-sm flex-wrap justify-content-center" %>
<% end %>