<h1 class="text-center"><%= t(:new_review) %></h1>

  <script>
      $(document).ready(function()
      {
          $("#book_id_select").select2({
              placeholder: "Pick a book",
              allowClear: true
          });
      });
  </script>

<%= render "form", review: @review, class:"text-black" %>

<br>

<div class="w-75 mx-auto">
  <%= link_to t(:back), root_path, class:"btn btn-outline-light" %>
</div>